<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.2.js"></script>
    <script src="example.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">

  </head>
  <body>

<!--   <h1 class="text-center">Travel Foods </h1>
 -->
<!-- Next steps: add bootstrap columns to buttons, figure out how to add an image above the buttons for each food image -->
<div>
  <p class="text-left" style="padding: 25px; font-weight: bold;"><a style="color: red" target="_blank" href="http://youngcreativespace.com/"> by Young Creative Space</a></p>
</div>

<div class="text-center" style="margin-top: 60px" ng-controller="ModalDemoCtrl">
    <div class="col-lg-2">
        <img ng-click="open()" ng-src="{{foodOne.icon}}" />
   </div>
    <div class="col-lg-2">
        <img ng-click="openTwo()" ng-src="{{foodTwo.icon}}" />
    </div>
    <div class="col-lg-2">
        <img ng-click="openThree()" ng-src="{{foodThree.icon}}" />
    </div>
</div>



  </body>
</html>
