<div class="modal-header">
    <h3 class="modal-title text-center">Barcelona - Quimet Y Quimet</h3>
</div>
<div class="modal-body text-center">
    	<img src="img/salmon.jpg" />
    	<p style= "padding: 10px" class="text-center">This was also one of the best meals I've ever had. The highlight of this place was the mini sandwiches - crunchy pieces of bread, with absolutely delicious tapas piled on top. My favorite was a mini sandwich with tangy yogurt, a marinated red pepper, shrimp and honey. Had this, a beer, a sangrai and an espresso for 22 euro. </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Close</button>
</div>