<div class="modal-header">
    <h3 class="modal-title text-center">Barcelona - El Pinoxto Bar</h3>
</div>
<div class="modal-body text-center">
    	<img src="img/ocy.jpg" />
    	<p style= "padding: 10px" class="text-center">This was one of the best meals I've ever had. It started with the chickpeas and ham, followed by oxtail soup, octopus and paprika, a mushroom risotta ball and a beer, all for under 17 euro. </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Close</button>
</div>